@model ChickenTinder.Models.Restaurant

@{
    ViewData["Title"] = "FindPlaceToEat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FindPlaceToEat</h1>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuisines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuisines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageCostForTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageCostForTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
